<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development eBook
            </h1>
            <p class="lead">learn web development</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_EelrjTrz7WqZvvFxapuB2M7W00hJ8oeDT9" data-amount="2500"
                    data-name="Web Development Ebook" data-description="Web Development Ebook"
                    data-image="/img/marketplace.png" data-locale="auto">
                    </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase For $25</button>
            </form>
        </div>
    </div>
</section>