<section class="py5">
    <h1 class="display-3">
        Thank you!
    </h1>
    <p class="lead"> Your eBook should be emailed to you within 2 business days</p>
    <a href="/" class="btn btn-dark btn-lg">Go to Home Page</a>
</section>